.item::before,
.role::before {
    text-indent: -200vmax;
}

.screen::before {
    content: "screen";
}

.chair::before {
    content: "chair";
}

.computer::before {
    content: "computer";
}

.driver::before {
    content: "driver";
}

.navigator::before {
    content: "navigator";
}

.mobber::before {
    content: "mobber";
}
