:root {
    font-size: calc(100vmin / 6);
    background-color: #333;
}

* {
    background-color: #0002;
}

.screen-area {
    background-color: royalblue;
}

.table {
    background-color: saddlebrown;
}

.driver-area {
    background-color: rebeccapurple;
}

.navigator-area {
    background-color: darkgreen;
}

.mobbers {
    background-color: darkblue;
}

.role {
    font-size: 0.5rem;
}

.role:hover {
    opacity: 0.7;
}
