.screen::after {
    content: "🖵";
}

.chair::after {
    content: "🪑";
}

.computer::after {
    content: "💻";
}

.driver::after {
    content: "⌨️";
}

.navigator::after {
    content: "🔀";
}

.mobber::after {
    content: "💡";
}
