.room {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fishbowl {
    display: grid;
    grid-template-areas:
        ".               screen screen                 ."
        "driver-area table        .                    ."
        "driver-area table navigator-area navigator-area"
        "mobbers    mobbers    mobbers           mobbers"
    ;
    grid-template-columns: repeat(4, 1fr);
}

.screen-area {
    grid-area: screen;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table {
    grid-area: table;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.driver-area {
    grid-area: driver-area;
    display: flex;
    flex-direction: column;
}

.navigator-area {
    grid-area: navigator-area;
    display: flex;
    flex-direction: row;
}

.mobbers {
    grid-area: mobbers;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item,
.role {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.item {
    position: relative;
}

.role {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
